{% extends "base.html" %}

{% block body %}





<div class="container-fluid">
  <div class="row">
      <div class= "col-md-1 hidden-xs hidden-sm visible-md-1">
      </div>


      <div class= "col-sm-2 hidden-xs visible-sm-2">

        <div class="sidebar">
            <ul class= "nav nav-sidebar">


              <li class="collapsed hide-btn2 hide-btn3" data-toggle="collapse" data-target="#webapps" id= "web">
                <a href="#"> Web Development</a>
              </li>
                <ul class="sub-menu collapse" id="webapps">
                <hr>
                {% for list in weblist %}
                {% if section == "#webapps" and link == list.title %}
                  <div class= "highlight">
                  <li><a href="{%url 'web_dev' slug=list.slug %}" id="blah">{{list.title}}</a></li>
                  <hr>
                  </div>

                {% else %}
                  <li><a href="{%url 'web_dev' slug=list.slug %}" id="blah">{{list.title}}</a></li>
                  <hr>
                {% endif %}
                {% endfor %}

                </ul>



              <li class ="collapsed hide-btn1 hide-btn3" data-toggle="collapse" data-target="#machine" id ="mac">
                    <a href="#" > Machine Learning  </a>
              </li>
                <ul class="sub-menu collapse" id="machine">
                    <hr>
                {% for list in machinelist %}
                {% if section == "#machine" and link == list.title %}
                  <div class= "highlight">
                  <li><a href="{%url 'machine' slug=list.slug %}" id="blah">{{list.title}}</a></li>
                  <hr>
                  </div>

                {% else %}
                  <li><a href="{%url 'machine' slug=list.slug %}" id="blah">{{list.title}}   {{active.section}}</a></li>
                  <hr>
                {% endif %}

                {% endfor %}
                </ul>


              <li class ="collapsed hide-btn1 hide-btn2" data-toggle="collapse" data-target="#biology" id ="bio">
                    <a href="#" > Biology  </a>
              </li>
                <ul class="sub-menu collapse hide-btn" id="biology">
                  <hr>
                {% for list in biolist %}
                {% if section == "#biology" and link == list.title %}
                  <div class= "highlight">
                  <li><a href="{%url 'biology' slug=list.slug %}" id="blah">{{list.title}}</a></li>
                  <hr>
                  </div>

                {% else %}
                  <li><a href="{%url 'biology' slug=list.slug %}" id="blah">{{list.title}}</a></li>
                  <hr>
                {% endif %}

                {% endfor %}

                </ul>
          </div>

      </div>


<script type="text/javascript">
$("{{section}}").collapse('show');
</script>
<div class= "col-sm-8 visible-sm-8">
{% block content %}
{% endblock %}

</div>



</div>
{% if section == "#machine" %}
<script>
$("#mac").addClass("active");
</script>
{% endif %}

{% if section == "#webapps" %}
<script>
$("#web").addClass("active");
</script>
{% endif %}

{% if section == "#biology" %}
<script>
$("#bio").addClass("active");
</script>
{% endif %}




<script type="text/javascript">
        $(document).ready(function(){
            $(".hide-btn1").click(function(){
            $("#webapps").collapse('hide');
    });

        $(".hide-btn2").click(function(){
            $("#machine").collapse('hide');
    });
        $(".hide-btn3").click(function(){
            $("#biology").collapse('hide');
    });




});
</script>




{% endblock %}



