{% extends "home_page/base.html" %}
{% block body %}


  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <h1></h1>
          <h1></h1>
          <div class= "main-name"> Jason Alexander Lee</div>
          <h1></h1>
          <h1></h1>
          <div class= "main-name-text">Web developer & Scientist </div>
          <h1></h1>

      </div>

      <div class='col-sm-6'>
        <img  class= "img-responsive" src="http://placekitten.com/g/500/500" />
      </div>


    </div>

    <div class="row">
      <hr>
    </div>
  </div>


<div class="container">
  <div class="row">
        <div class="col-sm-4">

            <div class="card text-center" >

               <div class="card-body">
                    <a href="#">
                      <img  class="img-rounded img-responsive center-block" src= http://placekitten.com/g/300/200 alt="kitty placeholder">
                    </a>
                  <a href="#">
                    <h3 class="card-heading simple">Web Development Projects</h3>
                  </a>
                  <p> Python-Django apps coded using the
                  test-driven development principles. Diving down into the source code and
                   thinking mentallity behind decision steps towards a functional app.
                  </p>
               </div>

            </div>

        </div>
        <div class="col-sm-4 text-center">

            <div class="card">

              <a href="#">
                <img class="img-rounded img-responsive center-block"  src= http://placekitten.com/g/300/200 alt="kitty placeholder">
              </a>
              <a href="#">
                <h3 class="card-heading simple">Biology Projects</h3>
              </a>
               <div class="card-body">
                  <p> Ideas to reality: The process of generating hypothesis-driven experiments that leads to a publication, and the challenges of working in a research setting.
                  <p>
               </div>

            </div>

       </div>
        <div class="col-sm-4">

            <div class="card text-center" >
                  <a href="#">
                    <img class="img-rounded img-responsive center-block" src= http://placekitten.com/g/300/200 alt="kitty placeholder">
                   </a>
               <a href="#"><h3 class="card-heading simple">Machine Learning Projects</h3></a>
               <div class="card-body">
                  <p> Exploring artificial intelligence, neural networks
                  and re-inforcement learning with Google's tensorflow. An attempt to dissect the inner workings of reinforcement learning, theorizing applications, and discussing limitations.
                  <p>

               </div>

            </div>

        </div>
      </div>








{% endblock %}