{% extends "base.html" %}

{% block body %}





<div class="container-fluid">
  <div class="row">
      <div class= "col-md-1 hidden-xs hidden-sm visible-md-1">
      </div>


      <div class= "col-sm-2 hidden-xs visible-sm-2">

        <div class="sidebar">
            <ul class= "nav nav-sidebar">

              {% for list in resumelist %}
              {% if active == list.title %}
              <li class= "active">
                <a href="{{list.slug}}"> {{list.title}}</a>
               </li>
               {% else %}
                <li>
                <a href="{{list.slug}}"> {{list.title}}</a>
               </li>

             {% endif %}
             {% endfor %}


             </ul>
        </div>
        </div>

<div class= "col-sm-8 visible-sm-8">
{% block content %}
{% endblock %}
</div>



</div>







{% endblock %}



