body{ padding-top:0px;
      padding-bottom:70px;}

.navbar-text > a {
    color:inherit;
    text-decoration:none;
}

p{
    font-family:'lato'; sans-serif;
}

h1,h2,h3,h4,h5{
   font-family: 'Lato', sans-serif;
}

.navbar-default{
    background-color :transparent;
    border-color:transparent;
    color: #878481;
    font-family: 'Roboto', sans-serif;
}



.navbar-default .navbar-nav >li >a {
    color:#878481;
    font-family: 'Roboto', sans-serif;
    font-size:1.5em;


}

.navbar-default .navbar-nav>.active >a,
.navbar-default .navbar-nav>.active >a:hover,
.navbar-default .navbar-nav>.active >a:focus{
 color:#0099ff;
 background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    color: #0099ff;
    background:transparent;
}

.navbar-default .navbar-nav> .open>a,
.navbar-default .navbar-nav> .open>a:hover,
.navbar-default .navbar-nav> .open>a:focus{
    background-color:transparent;
    color: #0099ff;
}

.btn-primary{
    background-color:#2C3E50;
    border-color: #2C3E50;
    color:#FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
    color:#FFFFFF;
    background-color: #1E2A36;
    border-color: #161F29;
}

.btn-success{
    background-color:#2C3E50;
    border-color: #2C3E50;
    color:#FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{
    color:#FFFFFF;
    background-color: #1E2A36;
    border-color: #161F29;
}
.btn-default{
    background-color:#2C3E50;
    border-color: #2C3E50;
    color:#FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default{
    color:#FFFFFF;
    background-color: #1E2A36;
    border-color: #161F29;
}

}

.form{
    color:black;
}

.main-name{
    font-family: 'Roboto', sans-serif;
    font-size:8.5em;
    line-height:91%;
}

.main-name-text{
     font-family: 'Roboto', sans-serif;
    font-size:2.3em;
    line-height:91%;
}


@media screen and (max-width:1000px) {

    .main-name{
        font-family: 'Roboto', sans-serif;
        font-size:5.0em;
        line-height:91%;
    }

    .main-name-text{
     font-family: 'Roboto', sans-serif;
    font-size:2.3em;
    line-height:91%;
}
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 1000px) and (max-width: 1224px) {
      .main-name{
        font-family: 'Roboto', sans-serif;
        font-size:7.0em;
        line-height:91%;
    }

    .main-name-text{
     font-family: 'Roboto', sans-serif;
    font-size:2.3em;
    line-height:91%;
}
}


p{
    font-family: 'Fira Sans', sans-serif;
}

a{
    color:inherit;
}

a:hover,
a:focus{
    color:#0099ff;
    text-decoration: none;

}



.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #0099ff;
  background-color: transparent;
}

.nav-sidebar>li> a:hover,
.nav-sidebar>li>a:focus{
  color: #0099ff;
  background-color: transparent;
}

.sidebar {
    text-align:left;
    font-family: 'Fira Sans', sans-serif;
    font-size:1.1em;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: transparent;
    border-right: 1px solid #eee;
  }

.sub-menu{
    font-size:1.0em;
    list-style-type: none;
    padding-right:3px;
}

.dropdown-menu{
    font-weight:100;
}